<ngx-barcode-scanner 
   (result)="onResult($event)" 
   [autofocus]="true"
   [zoom]="zoom"
   [focusDistance]="focusDistance"
   [torch]="torch"
   (hasTorchChanged)="onHasTorchChanged($event)"
   (hasZoomChanged)="onHasZoomChanged($event)"
   (hasFocusDistanceChanged)="onHasFocusDistanceChanged($event)">
</ngx-barcode-scanner>

<pre>{{ torch }}</pre>

<div *ngIf="scanResult">
   <p>Result</p>
   <pre>{{ scanResult | json }}</pre>
</div>

<div>
   <p>Torch</p>
   <pre><b>Has Torch: </b>{{ hasTorch | json }}</pre>
   <div *ngIf="hasTorch">
      <label class="toggle">
         <input type="checkbox" [(ngModel)]="torch">
         <span class="slider"></span>
         <span class="labels" data-on="ON" data-off="OFF"></span>
      </label>
   </div>
</div>

<div>
   <p>Zoom</p>
   <pre><b>Has Zoom: </b>{{ hasZoom | json }}</pre>
   <div *ngIf="hasZoom">
      <input #zoomSlider aria-label="Zoom" type="range" 
         [(ngModel)]="zoom" 
         [min]="hasZoom.min || 1" 
         [max]="hasZoom.max || 2" 
         [step]="hasZoom.step || 0.1" />
      <pre><b>Value: </b>{{ zoom | json }}</pre>
      <pre><b>Min:  </b>{{ zoomSlider.min }}</pre>
      <pre><b>Max:  </b>{{ zoomSlider.max }}</pre>
      <pre><b>Step: </b>{{ zoomSlider.step }}</pre>
   </div>
</div>

<div>
   <p>Focus distance</p>
   <pre><b>Has Focus Distance: </b>{{ hasFocusDistance | json }}</pre>
   <div *ngIf="hasFocusDistance">
      <input #focusSlider aria-label="Focus" type="range" 
         [(ngModel)]="focusDistance" 
         [min]="hasFocusDistance.min || 0" 
         [max]="Math.max(hasFocusDistance.max, 1) || 1" 
         [step]="hasFocusDistance.step || 0.1" 
          />
      
      <pre><b>Focus: </b>{{ focusDistance | json }}</pre>
      <pre><b>Min:   </b>{{ focusSlider.min }}</pre>
      <pre><b>Max:   </b>{{ focusSlider.max }}</pre>
      <pre><b>Step:  </b>{{ focusSlider.step }}</pre>
   </div>
</div>